* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.container {
  display: flex;
  /* justify-content: center; */
  /* align-content: center; */
  border: 1px solid black;
  margin: 50px 50px;
}

@media (max-width: 767.98px) {
  .container {
    flex-direction: column;
    margin: 2px !important;
  }
}