* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column; /* Ensure it defaults to column for responsiveness */
  border: 1px solid black;
  width: 100%;
}
